{{ object.username }}

<div>
  Badges earned:
  {% if object.star %}
    <li>{{ object.star }}</li>
  {% endif %}
  {% if object.collector %}
    <li>{{ object.collector }}</li>
  {% endif %}
  {% if object.pioneer %}
    <li>{{ object.pioneer }}</li>
  {% endif %}
</div>
